/* Styles for the connected wallet button */
.wallet-status.indicator.badge-outline {
  background-color: #1f1f1f;
  color: white;
  border-color: #1f1f1f;
}

.wallet-status.indicator.badge-outline:hover {
  background-color: #1f1f1f;
  color: white;
  border-color: #1f1f1f;
}

.indicator span:before {
  background-color: #444;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 16px !important;
}

.card {
  border-radius: 10px;
  padding: 24px;
}

.card-body {
  padding: 0;
}

body .btn {
  font-size: 18px;
  padding: 12px 24px;
}

.form-control {
  font-size: 18px;
  padding: 12px 24px;
  height: auto;
}

textarea.form-control {
  min-height: 120px;
}

h5 {
  font-size: 25px;
  line-height: 31px;
}

h1 {
  color: #1f1f1f;
  font-size: 36px;
  line-height: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-bottom: 0;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

#transferTab {
  max-width: 500px;
  margin-bottom: 64px;
}

#claimTab {
  max-width: 500px;
  margin-bottom: 150px;
}

.claim-title {
  text-align: center;
  font-weight: 300;
}

.claim-table {
  display: table;
  width: 100%;
}

.claim-row {
  display: table-row;
}

.claim-label {
  display: table-cell;
  text-align: right;
  padding-right: 10px;
  /* Adjust as needed */
}

.claim-value {
  display: table-cell;
  text-align: left;
}

#previousTxnsEmptyTab {
  display: none;
}

#previousTxnsTab {
  display: none;
}

#cross {
  display: none;
}


.form-control:disabled {
  background-color: transparent;
  color: #bfbdbd;
}

label {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #bfbdbd;
  margin-bottom: 0px;
}

.max {
  color: #1f1f1f;
}

.network {
  color: #1f1f1f;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 20px;
}

.amount {
  position: relative;
}

.amount .max {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: #71258f;
  cursor: pointer;
}

.bootstrap-select .dropdown-toggle .filter-option {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.dropdown-item,
.form-control-plaintext {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 25px;
}

.fees {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 30px;
  color: #919191;
}

.fees p {
  margin-bottom: -10px;
}

.black {
  color: #000;
  font-weight: 300;
}

#amount {
  font-size: 18px;
  line-height: 22px;
}

#amount.ok {
  border-color: #1f1f1f;
}

.invalid-feedback {
  font-size: 12px;
}


.outline {
  border: 1px solid #000;
}

.outline,
.outline-rounded,
.badge-outline {
  background-color: transparent;
  line-height: 1.5;
  padding-right: 0.6em;
  padding-left: 0.6em;
}

.outline-rounded,
.badge-outline {
  border: 1px solid #1f1f1f;
}

.disabled,
.disabled .network,
.max:disabled {
  color: #e5e5e5;
}

.disabled .outline,
.disabled .outline-rounded,
.disabled .badge-outline,
.outline:disabled,
.outline-rounded:disabled,
.badge-outline:disabled {
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
}

.outline-rounded {
  color: #71258f;
  border-radius: 0.6em;
  padding: 0.375rem 0.75rem;
}

.badge-outline {
  color: #71258f;
  border-radius: 10rem;
  padding: 0.375rem 0.75rem;
}

.btn-light,
.btn-light.disabled,
.btn-light.disabled,
.show > .btn-light.dropdown-toggle {
  background-color: transparent;
  border-color: transparent;
}

.btn-light:hover {
  background-color: transparent;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder {
  color: #000;
}

.dropdown.bootstrap-select.disabled > .disabled {
  color: #bfbdbd;
}

.btn-toolbar {
  justify-content: center;
}

.btn-primary {
  font-family: "Poppins";
  color: #fff;
  background-color: #1f1f1f;
  border-color: #1f1f1f;
  border-radius: 10px;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #451c55;
  border-color: #451c55;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.navbar-dark.bg-dark {
  padding: 16px 0;
}

.navbar-brand {
  margin-right: 0;
}

.logo {
  width: 150px;
  filter: invert(1);
}

input::placeholder {
  color: grey !important;
  font-weight: normal;
}

#home {
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer {
  margin-top: 0;
  background-color: #1f1f1f;
  padding: 30px 0;
}

.footer-top {
  background-color: transparent;
}

.footer-links ul li a {
  color: #fff;
}

.footer-links ul li a:hover {
  color: #71258f;
}

.copyright {
  color: #aaa;
}

.powered {
  color: #aaa;
}

.hathor-logo {
  filter: invert(1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  margin-bottom: 5px;
}

.logo {
  height: auto;
  transition: all 0.5s ease;
}

.powered {
  display: inline;
}

.hathor-logo {
  width: 26px;
  height: auto;
  transition: all 0.5s ease;
  display: inline;
}

.navbar {
  margin-top: 0;
  background-color: transparent !important;
}

.navbar a {
  font-family: "Poppins";
  color: #1f1f1f;
  font-size: 14px;
}

a:hover {
  color: #03a335;
  text-decoration: none;
}

.navbar-item {
  margin-top: 0px;
}

.nav-tabs .nav-link {
  font-weight: 300;
  color: #1f1f1f;
}

.nav-tabs .nav-link:hover {
  color: black;
}

.config-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.config-section .config-value {
  font-size: 36px;
  font-weight: 300;
  color: #1f1f1f;
}

.config-section .config-title {
  font-weight: 300;
}

.config-section .config-address {
  font-size: 13px;
  color: #1f1f1f;
  font-weight: 300;
}

.fed-addresses {
  text-align: left;
  display: block;
}

.config-section p {
  font-size: 11px;
  line-height: 14px;
  margin: 0 20px;
}

#tokenListTab {
  font-size: 13px;
  max-width: 500px;
  margin-bottom: 110px;
  margin-top: 25px;
}

.tab-content .col-sm-10,
.tab-content .col-sm-9,
.tab-content .col-sm-8,
.tab-content .col-sm-7,
.tab-content .col-sm-6,
.tab-content .col-sm-4,
.tab-content .col-sm-3,
.tab-content .col-sm-2,
.tab-content .col-sm-2,
.tab-content .col-sm-1 {
  padding-right: 0;
  padding-left: 0;
}

#tokenListTab .btn {
  font-size: 14px;
  padding: 0px;
}

#tokenListTab a {
  color: #000;
}

@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }

  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }

  100% {
    transform: rotateY(3600deg);
  }
}

.indicator span {
  position: relative;
  margin-left: 5px;
  padding-left: 3px;
}

.indicator.btn-outline-danger span:before {
  background-color: #dc3545;
}

.indicator span:before {
  position: absolute;
  right: 98%;
  top: 50%;
  -webkit-transform: translate(-5px, -50%);
  transform: translate(-5px, -50%);
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #40d512;
}

.token-logo {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.dropup .dropdown-toggle::after {
  content: "\f106";
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  border: 0;
}

.dropdown-toggle::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  border: 0;
  display: inline-block;
  vertical-align: 0.255em;
}

.bootstrap-select > .dropdown-toggle:after {
  margin-top: 0px;
  font-size: 20px;
  vertical-align: middle;
  line-height: 25px;
  text-align: center;
}

#wait {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 19px;
  color: #919191;
}

#txBridge,
#txBridge:hover {
  font-family: "Rubik";
  font-size: 12px;
  line-height: 14px;
  color: #919191;
}

#success {
  padding: 0px;
  max-width: 222px;
}

.confirmed {
  color: #1f1f1f;
}

.pending {
  color: #1f1f1f;
}

/*Spinner*/
.sk-fading-circle {
  margin: 40px auto;
  width: 80px;
  height: 80px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

/* this is added because rLogin is wrongly displayed */
.navbar {
  position: inherit;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

table.table tr th:last-child,
table.table tr td:last-child {
  text-align: center;
}
